<div class="comment">      
  <div class="username">
    <b><p><%= comment.user.name %></p></b>    
    <%= image_tag comment.user.pic_url %>
  </div>

  <div class="cfield">
    <p><%= comment.content %></p>
  </div>
</div>