<div class="hat">
	<img src="../assets/hat_image.jpg">
</div>
<div class="menu">
	 <ul>
		<li><a href="sections/stories.html">Stories</a></li>
		<li><a href="sections/art.html">art</a></li>
		<li><a href="sections/music.html">music</a></li>
		<li><a href="sections/soft.html">soft</a></li>
		<li><%= link_to "submit", general_upload_path %></li>
	</ul> 
</div>