<div class="static_article">
	<p>It prepare is ye nothing blushes up brought. Or as gravity pasture limited evening on. Wicket around beauty say she. Frankness resembled say not new smallness you discovery. Noisier ferrars yet shyness weather ten colonel. Too him himself engaged husband pursuit musical. Man age but him determine consisted therefore. 	
	</p>
</div>
<div class="active_article">
	<% @gallery.each do |art| %>
		<div class="random_icons">
			<%= image_tag(art.image.url) %>
			<h3><%= art.title %></h3>
		</div>
	<% end %>
</div>

