<div class="static_article">
	<p><%= @static_article.content %></p>
</div>
<div class="active_article">
	<div class="gallery">			
		<% @gallery.each do |art| %>
			<div class="gal_img">
				<%= link_to image_tag(art.file.url), art.file.url, data:{lightbox: :gallery} %>
				<h3><%= art.title %></h3>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
</div>

