<div class="static_article">
	<p>  	
	</p>
</div>
<div class="active_article">
	<div class="soft">
		<p>Or as gravity pasture limited evening on. Wicket around beauty say she. Frankness resembled say not new smallness you discovery. Noisier ferrars yet shyness weather ten colonel.<p>
	</div>
	<div class="random_icons">
		<ul>
			<% @software.each do |soft| %>
				<li><%= link_to soft.title, soft.file.url %></li>
			<% end %>
		</ul>
	</div>
	<div id="dld">
		<a href="http://download822.mediafire.com/tz0d4nch9iwg/yvahc9jdjc8cv72/MLP-Icons_are_Magic.tar.gz"><img src="http://darkstardesignsblog.files.wordpress.com/2012/02/download-button.png"></a>
	</div>
	
</div>