/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require lightbox
 *= require_self
 */

body{
    background-image: url("../assets/cutiemark_image.jpg");
    background-color: #999966;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.menu a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #900000;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover, a:active {
    background-color: #680000;
}
.main{   
    width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 25px #990000;
    background-color: black;
    padding-top: 3px;
    padding-bottom: 10px;

}
.hat img{
    display: block;
    height: 150px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
    color: black;
}
.static_article{
    margin: 20px;
    padding-bottom: 1px;
    padding: 20px;
    background-color: gray;
}
.active_article{
    margin: 20px;
    padding: 20px;
    background-color: gray;
}
.article{
    background-color: #996666;
    padding-bottom: 5px;
}
.banner1{
    background-color: blue;
    width:80px;
    height:400px;
    float:right;       
    margin:left:10px;
    margin-right:-130px;
}
.menu{
    margin:0 auto;
    width:640px;
    padding-bottom: 10px;    
}
.submit_box{
    width: 400px;
    height: 200px;
}
.gal_img{
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}
.gal_img img{
    width: 100px;
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}
.gal_img.desc{
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
.
#imgs{
    padding-right: 20pt;
    margin: 0 auto;
    text-align: center;
}
#imgs img{
    margin-left: 10pt;
    margin-right: 10pt;
}
#dld{
    padding-right: 20pt;
    margin: 0 auto;
    text-align: center;
}
#dld{
    margin-left: 10pt;
    margin-right: 10pt;
}
.random_icons{
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
}
.random_icons img{
    margin-left: 10px;
    margin-right: 10px;
}
.soft{
    margin-bottom: 10px;
}
.footer{
    margin: 25px;
    border-top: solid 1px gray;
}
.footer p{
    color: gray;
}
.clear{
    clear: both;
}
.login{
    position: fixed;   
}
.comment{
    width: 750px;
    padding: 10px;
}
.username{
    width: 150px;
    display: inline-block;   
}
.cfield{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 500px;
    display: inline-block;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    margin-top: -30px;
}